<h2>Ajouter de la nourriture</h2>


<form [formGroup]="foodForm">
    <div class="row py-3 justify-content-center">
        <mat-form-field  class="date-picker" appearance="outline">
            <input matInput placeholder="JJ/MM/AAAA" formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            
        </mat-form-field>
        
        <mat-form-field>
            <input type="text" placeholder="Nourriture" matInput formControlName="foodType" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let food of filteredFoods | async" [value]="food.name">
                {{food.name}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput type="number" placeholder="Quantité (g)" formControlName="foodQty">
        </mat-form-field>
    </div>
</form>
    
    
      


<div class = "row justify-content-center">
    <button class="btn btn-primary add-food-btn" (click)="addFood()">Add food</button>
</div>