<div class="row">
    <div class="col-12 col-md-3 justify-content-center">
        <div style="display: block;">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [type]="lineChartType">
            </canvas>
          </div>
    </div>
    <div class="col-12 col-md-3 justify-content-center">

    </div>
    <div class="col-12 col-md-3 justify-content-center">

    </div>
    <div class="col-12 col-md-3 justify-content-center">

    </div>
</div>
